/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
body, html {
		height: 100%;
		width: 100%;
}

body { /* General style rules for the body section */
	background-color: black;
	color:white;
	text-align: center;
}

h1 { /* Matches elements with h1 tag */
	color: white;
	text-decoration: none;
}

	a:link {
		color: white;
	}
	a:visited {
      color: coral;
    }
	a:hover {
			color: lightblue;
	}
}

#Statement { /* Matches element with id=SimpleDiv */
	background-color: none;

	color: none;

	margin: 5%;
	padding: 6px;
}

#div2{
	color: black;
	margin: 5%;
	padding: 6px;
	width: 20%;
	text-align: center;
}

#div3{
	color: black;
	margin: 5%;
	padding: 6px;
	width: 50%;
}

#div4{
	color: black;
	margin: 5%;
	padding: 6px;
	float: right;
	width: 50%;
}

#alexpage{
	float:left;
	margin: 5%;
	width: 20%;
}

/* #div5{
	color: black;
	background-color: #d307ff;
	margin: 5%;
	padding: 6px;
	clear: both;
} */
