/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
body, html {
		height: 100%;
		width: 100%;
}

body { /* General style rules for the body section */
	background-color: black;
	color:white;
	text-align: center;
}

h3 { /* Matches elements with h3 tag */
	color: white;
}

h2 { /* Matches elements with h2 tag */
	color: gray;
	text-decoration: underline;
}

h1 { /* Matches elements with h1 tag */
	color: white;
	text-decoration: none;
}

#Statement { /* Matches element with id=SimpleDiv */
	background-color: none;

	color: none;

	margin: 5%;
	padding: 6px;
}

#Alex{
	color: black;
	margin: 5%;
	padding: 6px;
	width: 20%;
	float:left;
	text-align: center;
}

#Annie{
	color: black;
	margin: 5%;
	width: 20%;
	float:right;
	text-align: center;
}

#Xin{
	color: black;
	margin: 5%;
	width: 20%;
	float: right;
}

/* #div5{
	color: black;
	background-color: #d307ff;
	margin: 5%;
	padding: 6px;
	clear: both;
} */
